<% if ! @http_vhost %><Location <%= @base_url.chomp("/") %>><% end %>
php_admin_flag file_uploads on
php_value session.auto_start "0"
<% if @php_timezone && @php_timezone != scope.lookupvar('::timezone') -%>
php_value date.timezone "<%= @php_timezone %>""
<% end -%>
<% if ! @http_vhost %></Location><% end %>