<?php
exit;
?>
;///////////////////////////////////////////////////////////////////////////////
;
; NagiosQL
;
;///////////////////////////////////////////////////////////////////////////////
;
; This file is managed by puppet.
;
;///////////////////////////////////////////////////////////////////////////////
[db]
server       = <%= @mysql_dbhost %>
port         = 3306
database     = <%= @mysql_dbname %>
username     = <%= @mysql_dbuser %>
password     = <%= @real_dbpassword %>
[path]
base_url     = <%= @base_url %>
base_path    = <%= @install_path %>/

