mysql --defaults-file=<%= @root_home %>/.my.cnf <%= @mysql_dbname %> -e "
INSERT INTO tbl_user (id, username, alias, password, admin_enable, wsauth, active, nodelete, language, domain, last_login, last_modified) VALUES (1, '<%= @admin_username %>', 'Administrator', md5('<%= @admin_password %>'), '1', '0', '1', '1', '<%= @locale %>', '1', '', NOW());
INSERT INTO tbl_settings (category, name, value) VALUES ('db', 'version', '$(sed -rn 's/\$preNagiosQL_ver[^"]+"(.*)";/\1/p' <%= @install_path %>/install/install.php)'),
('path', 'protocol', '<% if @http_ssl %>https<% else %>http<% end %>'),
('path', 'tempdir', '/tmp'),
('data', 'locale', '<%= @locale %>'),
('data', 'encoding', 'utf-8'),
('security', 'logofftime', '3600'),
('security', 'wsauth', '0'),
('common', 'pagelines', '15'),
('common', 'seldisable', '1'),
('common', 'tplcheck', '0'),
('common', 'updcheck', '0'),
('network', 'proxy', '0'),
('network', 'proxyserver', ''),
('network', 'proxyuser', ''),
('network', 'proxypasswd', ''),
('path', 'base_url', '<%= @base_url %>'),
('db', 'type', 'mysql'),
('path', 'base_path', '<%= @install_path %>/'),
('network', 'onlineupdate', '0');
UPDATE tbl_configtarget SET 
basedir='<%= @nagiosql_confdir %>', 
hostconfig='<%= @nagiosql_confdir %>/hosts/',
serviceconfig='<%= @nagiosql_confdir %>/services/',
backupdir='<%= @nagiosql_confdir %>/backup/',
hostbackup='<%= @nagiosql_confdir %>/backup/hosts/',
servicebackup='<%= @nagiosql_confdir %>/backup/services/',
nagiosbasedir='<%= scope.lookupvar('nagiosql::params::nagios_configdir') %>',
importdir='<%= scope.lookupvar('nagiosql::params::nagios_configdir') %>/objects/',
conffile='<%= scope.lookupvar('nagiosql::params::nagios_configdir') %>/nagios.cfg',
commandfile='<%= scope.lookupvar('nagiosql::params::nagios_command_file') %>',
binaryfile='<%= scope.lookupvar('nagiosql::params::nagios_binary') %>',
pidfile='<%= scope.lookupvar('nagiosql::params::nagios_lock_file') %>',
last_modified=NOW() WHERE target='localhost';"
